html {
  font-family: "Nova Square", sans-serif;
  font-size: 14px;
  background-color: #04cc9e;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding: 20px 0;
  color: #7298f7;
  text-shadow: 4px 4px 3px white;
}

p,
li {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #47fad0;
  padding: 0px 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
}
